.App {
  text-align: center;
}

.Inputfield {
  height: 35px;
  width: 50%;
  margin-bottom: 30px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormButton {
  height: 35px;
  width: 40%;
  background-color: #43b0f1;
  align-self: center;
  border-radius: 25px 25px 9px 9px;
  color: #e8eef1;
  font-weight: bold;
  font-size: 1.2em;
}

.FormButton2 {
  height: 35px;
  width: 75%;
  background-color: #e8eef1;
  align-self: center;
  margin: 15px;
  display: block;
}

.FormButton:hover {
  cursor: pointer;
  background-color: #1e3d58;
  color: #43b0f1;
}

.FormButton2:hover {
  cursor: pointer;
  background-color: bisque;
}

.ListEntry {
  margin: 10px;
  background-color: #1e3d58;
  padding: 10px 10px;
  color: #e8eef1;
  font-weight: bold;
  border: white solid 1px;
  width: 250px;
}

.Reservation_Card {
  border: black solid 1px;
  background-color: #1e3d58;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}

.Card_Wrapper {
  display: flex;
  justify-content: center;
}

.Statusbar {
  display: flex;
  justify-content: center;
  height: 40px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.Statusbarpart {
  display: flex;
  border: black 2px solid;
  height: 40px;
  width: 100px;
  background: rgb(96, 248, 96);
}

.Statusbarpart_occupied {
  display: flex;
  border: black 2px solid;
  height: 40px;
  width: 100px;
  background: rgba(255, 97, 97, 0.726);
}

.Statusbarparttime {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9d9797cd;
  font-size: 16px;
}

.Checkboxen {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.AuthButtons {
  height: 35px;
  background-color: #1e3d58;
  color: #e8eef1;
  font-family: fantasy;
  align-self: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
  margin-left: 7px;
}

.AuthButtons:hover {
  cursor: pointer;
  background-color: bisque;
  color: #1e3d58;
  font-size: 1.5em;
  padding: 5px;
}

.AuthButtonsRegisterForm {
  height: 35px;
  background-color: #1e3d58;
  color: #e8eef1;
  font-family: fantasy;
  align-self: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
  margin-left: 7px;
  margin-top: 5px;
}

.AuthButtonsRegisterForm:hover {
  cursor: pointer;
  background-color: bisque;
  color: #1e3d58;
  font-size: 1.5em;
  padding: 5px;
}

.Successregistration {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 50%;
  margin-bottom: 30px;
  background-color: #057dcd;
  color: #e8eef1;
  font-family: fantasy;
  align-self: center;
  font-weight: bold;
  padding: 7px;
  border-radius: 10px;
  border: solid 2px #1e3d58;
}

.Registration_Wrapper {
  display: flex;
  justify-content: center;
}

.Greeting {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 50%;
  color: #057dcd;
  font-family: fantasy;
  align-self: center;
  font-weight: bold;
  padding: 7px;
  margin: 5px 0px;
}

.Greeting_Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.LogoutWrapper {
  display: flex;
  justify-content: space-evenly;
}

.Successregistration2 {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 1.5em;
  background-color: #057dcd;
  color: #e8eef1;
  font-family: fantasy;
  font-weight: bold;
  padding: 7px;
  border-radius: 10px;
  border: solid 2px #1e3d58;
}
