.App {
  text-align: center;
}

.Inputfield {
  height: 35px;
  width: 50%;
  margin-bottom: 30px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormButton {
  height: 35px;
  width: 40%;
  background-color: aquamarine;
  align-self: center;
}

.FormButton2 {
  height: 35px;
  width: 75%;
  background-color: aquamarine;
  align-self: center;
  margin: 15px;
  display: block;
}

.FormButton:hover {
  cursor: pointer;
  background-color: bisque;
}

.FormButton2:hover {
  cursor: pointer;
  background-color: bisque;
}

.ListEntry {
  margin: 10px;
  background-color: white;
  padding: 10px 0px;
}

.Reservation_Card {
  border: black solid 1px;
  width: 30%;
  background-color: rgb(241, 100, 65);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}

.Card_Wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Statusbar {
  display: flex;
  justify-content: center;
  height: 40px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.Statusbarpart {
  display: flex;
  border: black 2px solid;
  height: 40px;
  width: 100px;
  background: rgb(96, 248, 96);
}

.Statusbarpart_occupied {
  display: flex;
  border: black 2px solid;
  height: 40px;
  width: 100px;
  background: rgba(255, 97, 97, 0.726);
}

.Statusbarparttime {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9d9797cd;
  font-size: 16px;
}

.Checkboxen {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
